@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amatic+SC&family=Gelasio:ital@0;1&family=Indie+Flower&family=Jost:wght@300&family=Lora:ital@1&family=Manrope:wght@300&family=Urbanist:wght@200;300;400&display=swap');

body {
    display: flex;
    background-color: #75975E;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    padding: 10px;
    border: 1px solid #B2C1A2;
    margin: 10px;
    background-color: #B8D19F;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: #fff;
    background-color: #689f38;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

main {
    flex: 1;
    margin-left: 0;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.movie {
    width: 100%;
    margin: 20px 0;
}

.movie img {
    width: 100%;
    height: auto;
}

.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: black;
    background: linear-gradient(to bottom, #A0C49D, #C4D7B2, #E1ECC8, #F7FFE5);
    opacity: 0;
    transition: opacity 0.3s;
    height: auto;
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    font-size: medium;
}

.movie:hover .movie-info {
    opacity: 1;
    overflow: auto;
}

.movie-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.movie-sinopsis {
    font-size: 14px;
    text-align: justify;
}

#about {
    text-align: justify;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

aside {
    width: 100%;
    margin: 10px 0;
    text-align: justify;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    main {
        flex: 2;
    }

    .movie {
        width: calc(50% - 20px);
        margin: 10px;
    }

    aside {
        width: 300px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    main {
        margin-left: 30px;
    }

    .movie {
        width: calc(33.33% - 20px);
        margin: 10px;
    }

    aside {
        width: 300px;
        margin-left: 30px;
    }
}
